<div class="row mb-5">
  <div class="col-6">
    <h2 class="font-weight-bold"><%= @month %>手当ユーザー一覧</h2>
  </div>
  <div class="col-6 text-right">
    <%= link_to "手当月一覧",admin_user_allowances_path,class:"btn btn-warning font-weight-bold" %>
  </div>
</div>
