<div class="nested-fields">
  <%= f.collection_select :licenses, License.all, :id, :name, prompt: "資格を選択してください", class: 'form-control' %>

    <%= link_to_add_association 'セット追加', f, :menu_sets,
      class: 'btn btn-success',
      data: {
        data_association_insertion_traversal: 'closest',
        association_insertion_method: 'append' }
     %>

  <%#= link_to_remove_association '削除', f, class: 'btn btn-default' %>

  <div id="menu_set-association-insertion-point">
    <%#= f.fields_for :menu_sets do |menu_set| %>
      <%#= render 'menu_set_fields', f: menu_set %>
    <%# end %>
  </div>
</div>
