<div class="row mb-5">
  <div class="col-6 font-weight-bold">
    <h2>社員追加</h2>
  </div>
  <div class="col-6 text-right">
    <%= link_to "一覧に戻る",admin_users_path,class:"btn btn-warning font-weight-bold" %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    社員追加
  </div>
  <%= render "form" %>
</div> 
